Unity Prototype/Library/metadata/*
Unity Prototype/Library/PackageCache/*
Unity Prototype/Library/ShaderCache/*
Website/AssetBuilder/Library/metadata/*
Website/AssetBuilder/Library/PackageCache/*
Website/AssetBuilder/Library/ShaderCache/*
*UnityLockfile*